body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #007BFF;  /* Blue color for navigation links */
    text-decoration: none;
    padding: 0.5em 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0056b3;  /* Darker blue color on hover */
}

section {
    padding: 2em;
    text-align: center;
    background-color: white;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#home {
    background-color: #e2e2e2;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.experience-item, .education-item, .project-item {
    margin-bottom: 2em;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: .5em;
}

form input, form textarea {
    width: 100%;
    padding: .5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: .75em;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
